/** Variable Imports **/
@import './variables.css';

/**
  CSS Reset
  Source: https://www.joshwcomeau.com/css/custom-css-reset/
**/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
body {
  background-color: var(--clr-stone100);
  
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/** Your CSS Below **/

.recipe {          
  background-color: white;
  width: 735px;
  margin: 0 auto;
  margin-top: 130px;
  margin-bottom: 125px;
  border-radius: 26px;
  padding: 40px;
}

.image-omelette {   /* OMELETTE IMAGE */
  width: 650px;
  border-radius: 12px;
  margin: 0 auto 30px;
}

.main-recipe {
  width: 650px;
  margin: 0 auto;
}  

.title {
  font-family: var(--fs-accent), sans-serif;
  color: var(--clr-stone900);
  font-weight: var(--fw-regular);
  font-size: 40px;
  text-align: left;
}

.intro {
  font-family: var(--fs-base); 
  font-size: 16px; 
  margin-top: 15px;
  margin-bottom: 30px;
}  

.preparation {
  background-color: var(--clr-rose50);
  height: 180px;
  font-family: 'Outfit'; 
  padding: 20px 28px;
  border-radius: 15px;
}  

.preptime {
  font-size: 20px;
  font-weight: bold;
  color: var(--clr-rose800);
}

.prep-list {
  padding-left: 20px;
}

li::marker {
  font-size: 0.80em;  
}

.prep-list li {
  margin-top: 10px;
  padding-left: 15px; 
  margin-bottom: 10px;
}

.ingredients {
  display: block;
  font-family: 'Young-Serif', sans-serif;
  font-size: 28px;
  color: var(--clr-rose800);
  margin-top: 25px;
  margin-bottom: 15px;
}

.ingrd-list {
  padding-left: 20px;
}  

.ingrd-list li {
  font-family: 'Outfit'; 
  font-size: 16px; 
  padding-left: 25px;
  margin-bottom: 10px;
}

.instructions {
  display: block;
  font-family: 'Young-Serif', sans-serif;
  font-size: 28px;
  color: var(--clr-rose800);
  padding: 20px 0px;
}

.instrc-list {
  font-family: 'Outfit'; 
  font-size: 16px; 
  padding-left: 20px;
}

.instrc-list li {
  padding-left: 15px;
  margin-bottom: 10px;
}

ol li::marker {
  font-size: 15px;
  font-weight:bold;
  color: var(--clr-rose800);
}  

.hr-line { 
  border: none; 
  height: 1px; 
  background-color: var(--clr-stone100);
}

.hr-line2 {
  border: none; 
  height: 1px; 
  background-color: var(--clr-stone100); 
  margin: 10px 0; 
}

.nutrition-head {
  display: block;
  font-family: 'Young-Serif', sans-serif;
  font-size: 28px;
  color: var(--clr-rose800);
  padding: 20px 0px;
}

.table {
  font-family: 'Outfit'; 
  font-size: 16px; 
}

.table-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: 'Outfit'; 
  font-size: 16px;
  margin-top: 30px;
  padding-left: 30px;
}

.table-value {
  color: var(--clr-rose800);
  font-size: 16px;
  font-weight:bold;
}

/** Attribution CSS **/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }